.report-window {
    width: 100%;
    background-color: #F4F4F4;
    height: 100%;
    /* display: flex; */
}
.heading {
height: 80px;
display: flex;
background-color: white;
overflow: hidden;
border: 1px solid rgb(170, 170, 170);
position: fixed;
width: 100%;
padding-right: 240px;
}

.title-container {
font-size: 26px;
flex-grow: 4;
}

.title {
padding: 8px 10px;
display: flex;
}

.main-page {
display: flex;
padding-top: 80px;
}

.record {
display: flex;
background-color: #F4F4F4;
width: 100%;
flex-wrap: row wrap;
}

.record-text {
display: flex;
flex-direction: column;
}

.record-title {
font-size: 30px;;
}

.record-subtitle {
font-size: 14px;
}

.select-page {
margin: 0;
padding: 0;
width: 200px;
background-color: rgb(255, 255, 255);
position: fixed;
height: 100%;
overflow: auto;
border: 1px solid rgb(170, 170, 170);
flex-grow: 1;
}

.select-page a {
display: block;
color: black;
padding: 16px;
text-decoration: none;
border: 1px solid #ebebeb;
}

.select-page a.active {
background-color: white;
color: black;
}

.select-page a:hover:not(.active) {
background-color: #ebebeb;
color: black;
}

div.content {
margin-left: 200px;
padding: 1px 16px;
height: 1000px;
}

// @media screen and (max-width: 700px) {
// .select-page {
//     width: 100%;
//     height: auto;
//     position: relative;
// }
// .select-page a {float: left;}
// div.content {margin-left: 0;}
// }

// @media screen and (max-width: 400px) {
// .select-page a {
//     text-align: center;
//     float: none;
// }
// }

.table-container {
flex-grow: 1;
padding: 16px;
margin: 10px;
background-color: white;
min-width: 400px;
border-radius: 10px;
}

.icon{
margin-right: 10px;
height: 100%;
}

.data-heading{
color: rgb(170, 170, 170);
}

.icon-centered{
margin-top: auto;
margin-bottom: auto;
}

.report-icon {
    color: #212529;
    margin-right: 10px;
}

.input-box {
    display: flex;
    align-items: stretch;
    width: 100%;
    min-width: 0;
    margin-bottom: 15px;
}