.navbar {
    display: flex;
    background-color: #296B64;
    overflow: hidden;
}
.logo {
    margin: 20px;
}

.detailButton {
    margin: auto;
    margin-right: 0;
    height: 48px;
}

.accountButton {
    fill: white;
    height: 36px;
    width: 36px;
    margin-right: 10px;
}

.icon{
    margin-right: 10px;
    color: #ffffff;
    width: 48px;
}