<div class="record-window">
    <div class="heading">
      <div class="title-container">
          <div class="title">
            <mat-icon style="height: 48px; width: 48px" class="icon icon-centered" svgIcon="account-school"></mat-icon>
            <div class="record-text">
              <div class="record-title">Text</div>
              <div class="record-subtitle">Student number</div>
            </div>
        </div>
      </div>
      <span class="icon-centered">
        <a style="color: rgb(170, 170, 170)" href="#">
          <mat-icon class="icon" svgIcon="pencil"></mat-icon>
        </a>
      </span>
      <span class="icon-centered">
        <a style="color: rgb(170, 170, 170)" href="#">
          <mat-icon class="icon" svgIcon="close"></mat-icon>

        </a>
      </span>
    </div>
    <div class="main-page">
      <div class="sidebar">
        <a class="active" href="#home">Personal Data</a>
        <a href="/news">Programme</a>
        <a href="/contact">Modules</a>
        <a href="/about">Marks and Feedback</a>
        <a href="/about">Examinations</a>
        <a href="/about">Communication</a>
      </div>
      <div class="record">
        <div class="container">
          <div class="data-heading">test</div>
          <div>test</div>
          <div class="data-heading">test</div>
          <div>test</div>
        </div>
        <div class="container">
          <div class="data-heading">test</div>
          <div>test</div>
        </div>
        
      </div>
    </div>
    
  </div>