.record-window {
    width: 100%;
    background-color: #F4F4F4;
    height: 100%;
    /* display: flex; */
}

.home-icon {
    color: #212529;
}
  
.home-page {
    display: flex;
    padding-top: 80px;
}
  
.home-window {
    display: flex;
    background-color: #F4F4F4;
    width: 100%;
    flex-wrap: row wrap;
}
  
.container {
    flex-grow: 1;
    padding: 16px;
    margin: 10px;
    background-color: white;
    min-width: 400px;
    border-radius: 10px;
}
  
.data-heading{
    color: rgb(170, 170, 170);
}

.stacked-container {
    width: 100%;
    margin-right: 30px;
}

.select-box {
    margin: 8px 0 12px 50px;
}

.chart-header {
    display: inline-flex;
}

.heading {
    height: 80px;
    display: flex;
    background-color: white;
    overflow: hidden;
    border: 1px solid rgb(170, 170, 170);
    position: fixed;
    width: 100%;
    padding-right: 240px;
    z-index: 100;
}

h2 {
    font-weight: 500;
    margin-bottom: 10px;
}
  
.title-container {
    font-size: 30px;
    flex-grow: 4;
}
  
.title {
    padding: 8px 10px;
    display: flex;
}

.no-data {
    text-align: center;
    margin-top: 115px;
}

.no-data-pie {
    text-align: center;
    padding: 15px 0;
}