<div class="sidebar">
  <button class="accordion">
    <div class="grid">
      <span><mat-icon class="icon large-icon" svgIcon="account-group"></mat-icon></span>
      <span class="text-centered">Individuals</span>
      <!-- <mdicon class="icon chevron" name="chevronDown"></mdicon> -->
    </div>
  </button>
  <div class="panel">
    <a href="/staff">
        <span><mat-icon class="icon" svgIcon="account"></mat-icon></span>
        <span>Staff</span>
      </a>
      <a href="/students">
        <span><mat-icon class="icon" svgIcon="account-school"></mat-icon></span>
        <span>Students</span>
      </a>
  </div>

  <button class="accordion">
    <div class="grid">
      <span><mat-icon class="icon large-icon" svgIcon="notebook-multiple"></mat-icon></span>
      <span class="text-centered">Courses</span>
      <!-- <mdicon class="icon chevron" name="chevronDown"></mdicon> -->
  </div>
  </button>
  <div class="panel">
      <a href="/schools">
        <span><mat-icon class="icon" svgIcon="account-details"></mat-icon></span>
        <span>Schools</span>
      </a>
      <a href="/degrees">
        <span><mat-icon class="icon" svgIcon="school"></mat-icon></span>
        <span>Degrees</span>
      </a>
      <a href="/modules">
        <span><mat-icon class="icon" svgIcon="book-multiple-outline"></mat-icon></span>
        <span>Modules</span>
      </a>
  </div>
</div>